sample-soap/src/main/resources/wsdl/MyResultService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://xmlns.example.com/1386864564116" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns0="http://inputMessage.data" xmlns:ns1="http://outputMessage.data"
	name="Untitled" targetNamespace="http://xmlns.example.com/1386864564116">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://outputMessage.data" targetNamespace="http://outputMessage.data"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="RES">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RANK" type="xs:string" minOccurs="0" />
						<xs:element name="MARKS" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://inputMessage.data" targetNamespace="http://inputMessage.data"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:element name="REQ">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FIRSTNAME" type="xs:string"
							minOccurs="0" />
						<xs:element name="LASTNAME" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:service name="WebService">
		<wsdl:port name="getResultEndpoint1" binding="tns:getResultEndpoint1Binding">
			<soap:address
				location="http://REJI-PC:8181/WebService.serviceagent/getResultEndpoint1" />
		</wsdl:port>
	</wsdl:service>
	<wsdl:portType name="getResult">
		<wsdl:operation name="getResultAndRank">
			<wsdl:input message="tns:REQ_MESSAGE" />
			<wsdl:output message="tns:RES_MESSAGE" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="getResultEndpoint1Binding" type="tns:getResult">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getResultAndRank">
			<soap:operation style="document"
				soapAction="/WebService.serviceagent/getResultEndpoint1/getResultAndRank" />
			<wsdl:input>
				<soap:body use="literal" parts="part1" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="part1" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:message name="REQ_MESSAGE">
		<wsdl:part name="part1" element="ns0:REQ" />
	</wsdl:message>
	<wsdl:message name="RES_MESSAGE">
		<wsdl:part name="part1" element="ns1:RES" />
	</wsdl:message>
</wsdl:definitions>